span{
    background: url(https://cdn0.iconfinder.com/data/icons/Natsu_PNG/256/Natsu-Fav.png);
    width: 100px;
    height: 100px;
    position: absolute;
    pointer-events: none;
    background-size: cover;
    left: 50%;

    top: 50%;
    filter: brightness(1.7);
    transform: translate(-50%,-50%);
    animation: anime 6s  linear  ;
}
@keyframes anime{
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
        opacity: 1;

        filter: hue-rotate(0);
       
    }
    
    100%{
        transform: translate(-50%, -5000%) rotate(1060deg);
        opacity: 1;
        
        filter: hue-rotate(3000deg);
    }}